hydra-core==1.3.2
ipykernel==6.29.5
langchain==0.3.25
langchain-anthropic==0.3.10
langchain-elasticsearch==0.3.2
langchain-google-genai==2.0.1
langchain-groq==0.3.2
langchain-openai==0.3.18
langchain-qdrant==0.2.0
langgraph-api==0.2.34
langgraph-cli==0.2.10
laonlp==1.2.0
pip-chill==1.0.3
sentence-transformers==3.0.1
wandb==0.19.11
qdrant-client==1.14.2
nltk==3.9.1